{% extends "student/base.html" %}
    
{% block title %}Choose a Coursework{% endblock %}
{% block content %}
    {% if courseworks %}
        <h1>Choose a coursework to view:</h1>
        {% for id, state, course, title in courseworks %}
            <p><a href="{% url 'cw' id %}" class="coursework coursework_{{ state }}"
            >{{ course }}:
                {{ title }}</a></p>
        {% endfor %}
    {% else %}
        <div>No coursework tasks available right now</div>
    {% endif %}

<p>
</p>

{% if has_research %}
<h2>Peer-Testing Research</h2>
<p>
{{ research_blurb|safe }}
</p>
<p>
  Link to
  the <a href="{{ research_url }}" target="_blank">CW1 second questionnaire</a> displayed below.
  </p>
<iframe width="640px" height= "480px" src=
	"{{ research_url }}"
	frameborder= "0" marginwidth= "0" marginheight= "0" style=
	"border: none; max-width:100%; max-height:100vh"
	allowfullscreen webkitallowfullscreen mozallowfullscreen
	msallowfullscreen> </iframe>
{% endif %}

{% endblock %}
