/* Basic styling to be applied to all pages */

html, body{
    padding: 0;
    margin: 0 auto;
    font-family: sans-serif;
}

.hidden {display: none}

/* top nav bar */
nav {
    padding: 5px;
    background: #272727;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

nav, nav a, nav a:visited {
    color: #fff;
}

nav h1 {
    margin: 0;
    color: #FFF4BF;
    text-shadow: 0 0 6px #000;
    grid-column: 1/4;
}

nav #breadcrumbs {
    grid-column: 1/5;
}


/* main content */
main {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1200px){
    main {
        max-width: 100%;
        width: 100%;
    }
}

/* put form inputs on their own lines */
label, input {
    display: block;
}

/* coursework state descriptors */
.coursework_f::before {
    content: '[accepting feedback]'
}
.coursework_u::before {
    content: '[accepting solutions]'
}
.coursework_c::before {
    content: '[closed]'
}
a.coursework, a.coursework:visited {
    text-decoration: none;
}
a.coursework:hover {
    text-decoration: underline;
}
a.coursework_f::before, a.coursework_u::before, a.coursework_c::before {
    color: #666;
    font-size: small;
    padding-right: 5px;
    text-decoration: none;
}


/* student coursework main page */
#tasklist {
    border-radius: 5px;
    border: 1px solid rgb(78, 30, 78);
}

#tasklist > * {
    margin: 10px;
}

#tasklist h2 {
    background: rgb(78, 30, 78);
    color: white;
    margin: 0px;
    padding: 10px;
}

.submission {
    border-left: 2px solid grey;
    padding-left: 2px;
}
.solution {
    border-color: blue;
}
.test {
    border-color: green;
}
.submission ul {
    list-style: none;
}

/* teacher admin view */
table.styled * {
    border: none;
}
table.styled td, table.styled th {
    padding: 4px;
}
table.styled th {
    background-color: LightGray;
}
table.styled tr:nth-child(even){
    background-color: PowderBlue;
}
